<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.tugraz.ist.swe.teachingassistant">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdvancedTestingActivity"></activity>
        <activity android:name=".LearningInterfaceActivity" />
        <activity android:name=".LearningListActivity" />
        <activity android:name=".TestingActivity" />
        <activity android:name=".SelectTestingActivity" />
        <activity
            android:name=".ExportDialog"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddVocabActivity" />
        <activity
            android:name=".ImportActivity"
            android:excludeFromRecents="true"
            android:label="TA - Importer"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ExportActivity"
            android:excludeFromRecents="true"
            android:label="@string/export_title"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".VocabularyActivity" />
        <activity android:name=".EditActivity" />
    </application>

</manifest>